BuberDinner.Api/bin/
BuberDinner.Application/bin/
BuberDinner.Contracts/bin/
BuberDinner.Domain/bin/
BuberDinner.Infrastructure/bin/


BuberDinner.Api/obj/
BuberDinner.Application/obj/
BuberDinner.Contracts/obj/
BuberDinner.Domain/obj/
BuberDinner.Infrastructure/obj/
